
.club-description {
    padding-top: 95px;
    padding-bottom: 95px;
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__video {
        position: absolute;
        right: 0;
        top: 43px;
        z-index: 1;
    }
    &__text {
        width: 400px;
        height: 60px;
        margin-bottom: 45px;
        margin-top: 45px;
        margin-left: 115px;
    }
    &__link {
        margin-top: 45px;
        margin-left: 115px;
        
    }
}