.footer {
    &-navbar {
        margin-bottom: 35px;
    }
    &-social {
        margin-bottom: 30px;
        &__item {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }   
}